.block-header{
  background-image: url("../../src/img/Background.png");
  height: 115px;
  .position{
  max-width: 1165px;

    margin: auto;
  }
}
.block-our-work{
  background-repeat:no-repeat ;
  background-image: url("../../src/img/photo-1416453072034-c8dbfa2856b5.png");
  background-position: center;
  height: 1321px;

}
.block-our-news{
  background-image: url("../../src/img/Background.png");


}

.block-news-letter{
  background-image: url("../../src/img/photo-1428660386617-8d277e7deaf2.png");
  background-repeat:no-repeat ;
  background-position: center;

}

.block-inform{
  background-image: url("../../src/img/Rectangle_4.png");
}

.footer{
  background-image: url("../../src/img/photo-1428660386617-8d277e7deaf2.png");
  background-repeat:no-repeat ;
  background-position: center;
}