$breakpoint-laptop: 816px;
$breakpoint-laptop-our-work:1120px;
$breakpoint-mobile-our-work:1119px;
$breakpoint-laptop-our-news: 1200px;
$breakpoint-laptop-other:1300px;
$breakpoint-mobile-other:1299px;